* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(2, 41, 58);
}

button {
    display: block;
    height: 35px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid;
    background-color: rgb(9, 67, 91);
    border: 0pc solid;
    color: #ccb792;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.container1 a {
    text-decoration: none;
}

button:hover {
    background-color: white;
    color: rgb(9, 67, 91);
}

p {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 7px;
    color: #ccb792;
}