* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #02293A;
}

img {
    margin: 5px;
}

button {
    display: block;
    height: 40px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 0px solid;
    font-size: 12px;
    background-color: aliceblue;
    color: #ddac63;
}

.container1 a {
    text-decoration: none;
}

button:hover {
    background-color: #09435b;
    color: aliceblue;
}

p {
    padding-top: 30px;
    color: #E5CDA9;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
}